/* Layout del carrito */
.cart-layout {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.product-details {
  flex: 2;
}

.order-summary {
  flex: 1
}

/* Tarjeta producto */
.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
p.description {
  text-align: justify;
  margin-top: 1rem;

}

.card img{
  height: 100%;
  width: 100px;
  border-radius: 10px;
}
.product-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.product-actions {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-danger {
  background-color: #dc3545;
  color: white;
  height: 40px;
  text-align: center;
}

.product-quantity {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.btn-quantity {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.quantity {
  font-size: 1rem;
}

.product-price {
  font-size: 1.25rem;
  font-weight: bold;
  color: #28a745;
  margin-bottom: 20px;
}

/* Resumen de compra */
.summary-title {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.summary-table {
  margin-bottom: 20px;
}

.summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn-checkout {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-checkout:hover {
  background-color: #218838;
}

.empty-cart-img {
  width: 100px;
  display: block;
  margin: 0 auto;
}