/* modificaciones del banner principal*/


/* carousel publicidad home*/

.slider-box {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2f353a;
   
  }
  
  .slider {
    background: rgba(11, 45, 38, 0.5);
    backdrop-filter: blur(10px);
    transition: background 0.5s ease, backdrop-filter 0.5s ease;
    height: auto;
    width: 100%; 
    overflow: hidden;
    position: relative;
    padding: 1rem;
  }
  
  .slider .move {
    display: flex;
    width: calc(100% * 1); /* Adpatar, al contenido duplicado */
    animation: slide 30s linear infinite;
  }
  
  
  .slider .box {
    flex: 0 0 auto; 
    width: 14.285%; /* Dividir el ancho (7 partes iguales: 14.285- 3.5→ 28.57, 42.285 en 2.5) */
    height:auto; 
  }
  
  .slider .box img {
    width: 100%; 
    height: 80px; 
    object-fit: cover; 
  }
  
  
/*======= Main Content ====*/




/* === Seccion Características */

.container-features{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  padding:  1rem 0;
  margin-top: -50px;
  
}

.card-features{
display: flex;
align-items: center;
justify-content: center;
gap: 1rem;
border-radius: 1rem;
padding: 1rem 0;
}

.card-features i{
  font-size: 1.8rem;
  color: var(--color-secondary);
}

.feature-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.feature-content span{
  font-weight: 700;
  font-size: 1rem;
  font-family: "Nunito", sans-serif;
  color: var(--color-primary);
}


/* === Sección Categorías ==== */
.heading-1{
  font-size: 2rem;
  font-family: 'Nunito', sans-serif;
  font-weight: 900;
  color: var(--color-primary);
  text-align: center;
}
 .top-categories{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.container-categories{
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
gap: 1rem;
}

.card-category{
  height: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  gap: 0.5rem;
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat; 
}
.category-lacteos{
  background-image: linear-gradient(#00000080, #00000080), url("/imagenes/products/yogur_natural.jpg");

}
.category-hortalizas{
  background-image: linear-gradient(#00000080, #00000080), url("/imagenes/products/Calabacion.jpg");
 
}
.category-carnes{
  background-image: linear-gradient(#00000080, #00000080), url("/imagenes/products/carnes.jpeg");
}
.category-frutas{
  background-image: linear-gradient(#00000080, #00000080), url("/imagenes/products/frutas.jpg");
}
.category-granos{
  background-image: linear-gradient(#00000080, #00000050), url("/imagenes/products/granos.jpg");
  }
.category-conservas{
  background-image: linear-gradient(#00000080, #00000080), url("/imagenes/products/Helado_artesanal.jpg");
}


.card-category p{
  font-size: 1.8rem;
  color: var(--color-text);
    text-transform: capitalize;
  position: relative;
}
.card-category p::after{
content: '';
width: 2.5rem;
height: 2px;
position: absolute;
bottom: -1rem;
left: 50%;
background-color: var(--color-text);
transform: translate(-50%, 50%);
}

.card-category span{
  font-size: 1rem;
  color: white;
  cursor: pointer;
}
.card-category span:hover{
  color: var(--color-accent);
} 




/* ==== Contenedor del carrusel banner página home === */

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  border: 2px solid #ddd;
  border-radius: 10px;
  background: #fff;
}

/* Contenedor de las imágenes */
.carousel-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  border: none;
}

/* Slide de imágenes */
.carousel-slide {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

/* Imágenes */
.carousel-slide img {
  width: 100%;
  height: auto;
  border: none;
}

/* Botones */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  z-index: 10;
}

#prev-btn {
  left: 10px;
}
#next-btn {
  right: 10px;
}
button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* ==== Sección publicaciones ==== */

.specials{
  display: flex;
}


  
/* Movimiento infinito carousel publicidad*/
  @keyframes slide {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  

  
/* Responsive*/
  @media (max-width: 768px) {
    
    
  }
  
  @media (max-width: 990px) {
    
   
    
  }

    
  @media (max-width: 470px) {
   
  }